   <!-- FOOTER AREA START -->
   <footer class="tj-footer-area">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <div class="footer-logo-box">
                  <a href="index.htm#"><img src="/static/site/img/logo/logo.png" alt=""></a>
               </div>
               <div class="footer-menu">
                  <nav>
                     <ul>
                        <li><a href="index.htm#services-section">خدمات</a></li>
                        <li><a href="index.htm#works-section">نمونه کار</a></li>
                        <li><a href="index.htm#resume-section">رزومه</a></li>
                        <li><a href="index.htm#skills-section">مهارت ها</a></li>
                        <li><a href="index.htm#testimonials-section">گواهینامه ها</a></li>
                        <li><a href="index.htm#contact-section">تماس با ما</a></li>
                     </ul>
                  </nav>
               </div>
               <div class="copy-text">
                  <p>&copy; تمامی حقوق این سایت  <a href="index.htm#" target="_blank">محفوظ میباشد</a></p>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- FOOTER AREA END -->